

/* common
------------------------------------------------------------------------------------------------------ */

body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #444;
}

a {
    text-decoration: none;
    outline: none;
}

a:link, a:visited {
    color: #309bbf;
}

a:hover, a:active {
    color: #444;
}

h1, h2, h3, h4, h5, h6 {
    background-color: transparent;
    color: #000;
}

h1 {
    font-size: 200%;
    font-weight: normal;
    margin: 12px;
}

h2 {
    font-size: 175%;
    font-weight: normal;
    margin: 10px
}

h3 {
    font-size: 125%;
    font-weight: bold;
    margin: 8px
}

strong, b {
    font-weight: bolder;
}

ul, menu, dir {
    list-style-type: none;
}

p, ol, ul, dl {
    margin: 0;
}

/* grid-tools
------------------------------------------------------------------------------------------------------ */

#grid-tools {
    background: #333;
    color: #eee;
    font-size: 11px;
    font-weight: bold;
    height: 30px;
    line-height: 14px;
    padding: 0;
}

#grid-tools a:hover, #grid-tools a:active {
    color: #ddd;
}

#grid-tools ul li {
    position: relative;
    float: right;
}

/* user-tools
------------------------------------------------------------------------------------------------------ */

#user-tools li {
    margin: 0;
    padding: 8px 10px;
}

#user-tools {
    right: -1px;
    border-left: 1px solid #262626;
}

#user-tools li {
    border-left: 1px solid #404040;
    border-right: 1px solid #262626;
}

#user-tools li.last{
    border-right: none;
}

/* grid-top
------------------------------------------------------------------------------------------------------ */

#grid-top {
    background: #e6e6e6;
    border-bottom: 1px solid #ccc;
    padding: 0;
}

#grid-top ul {
    margin: 0;
    padding: 0;
}

#grid-top li {
    color: #666;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    float: left;
    list-style-type: none;
    padding: 9px 15px;
    text-align: left;
}

#grid-top li ul {
    display: none;
}

#grid-top li:hover ul {
    background: #e6e6e6;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 0px 0px;
    border-top-right-radius: 0px 0px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    display: block;
    margin-left: -15px;
    margin-top: 9px;
    position: absolute;
}

#grid-top li ul li {
    border-bottom: 1px solid #eee;
    clear: both !important;
    font-size: 14px;
    font-weight: normal;
    padding: 9px 20px;
}


#grid-top li ul li a {
    color: #309bbf !important;
}

#grid-top li ul li a:hover {
    color: #666 !important;
}

#grid-top .first a {
}

#grid-top .active a {
    color: #444;
}

/* breadcrumb-menu
------------------------------------------------------------------------------------------------------ */

#breadcrumb-menu {
    background: none;
    padding: 0;
}

#breadcrumb-menu ul {
    margin: 0;
    padding: 0;
}

#breadcrumb-menu li {
    color: #666;
    float: left;
    width: auto;
    padding: 4px 2px;
    cursor: pointer;
    font-size: 11px;
    list-style-type: none;
}

#breadcrumb-menu .first a {
}

#breadcrumb-menu .active a {
    color: #444;
}

/* grid-left
------------------------------------------------------------------------------------------------------ */

#grid-left {
    padding: 0;
    background: #f6f6f6;
}

#grid-left ul {
    margin: 0;
    padding: 0;
}

#grid-left li {
    display: block;
    margin: 5px 30px;
}

#grid-left ul ul li {
    list-style-type: disc;
    font-size: 80%;
}

/* grid-middle
------------------------------------------------------------------------------------------------------ */

#grid-middle {
}

/* grid-right
------------------------------------------------------------------------------------------------------ */

#grid-right {
}

/* breadcrumb-menu
------------------------------------------------------------------------------------------------------ */

#footer-menu {
    background: none;
    padding: 0;
}

#footer-menu ul {
    padding: 0;
    float: right;
}

#footer-menu li {
    color: #666;
    float: left;
    width: auto;
    padding: 4px;
    cursor: pointer;
    font-size: 16px;
    list-style-type: none;
}

#footer-menu .first a {
}

#footer-menu .active a {
    color: #444;
}

/* mezzanine
------------------------------------------------------------------------------------------------------ */

#mezzanine {
    margin: auto;
    padding: 4px;
    font-size: 11px;
    width: auto;
    text-align: center;
    border-top: 1px solid #666;
}

/*	forms
------------------------------------------------------------------------------------------------------ */

form {
    margin: auto;
    padding: 0;
}

form p {
    padding: 4px 10px 4px;
    margin: 0 0 0 0;
    position: relative;
    border-bottom: 1px solid #f1edeb;
    overflow: hidden;
    color: #999;
}

form label {
    color: #444;
    padding: 5px 20px 0 0;
    float: left;
    display: block;
    font-weight: bold;
    text-align: right;
    width: 150px;
}

form p.checkbox {
    border: none;
}

form p.checkbox label {
    width: inherit;
    float: none;
    text-align: left;
    padding: 0 0 0 165px;
}

span.label {
    color: #111;
    font-weight: bold;
}

input[type=text],
input[type=password],
input[type=file],
textarea,
span.editable {
    width: 220px;
    border: 1px solid #d7d7d7;
    font-size: 14px;
    line-height: 20px;
    padding: 2px;
    color: #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fafafa;
}

input[type=checkbox] {
    padding: 14px 0;
    width: 20px;
}

input[type=radio] {
    margin: 0 8px 0 0;
}

select {
    min-width: 60px;
    margin: 10px 2px 0;
}

input:focus,
textarea:focus,
span.editable:focus {
    outline: none;
    background-color: #fff;
    border: 1px solid #bcbcbc;
}

textarea {
    height: 4em;
    margin: 10px 0;
}

input[type=submit] {
    background: #309bbf;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    -moz-border-radius: 5px; -webkit-border-radius: 5px;
    margin: 10px;
    padding: 6px 10px;
    width: auto;
}

input[type=submit]:hover, input[type=submit]:active { 
    color: #fff;
    background: #444;
}

#signin input[type=checkbox] {
    display: block;
    float: left;
    padding: 0;
    margin: 3px;
    width: 10px;
}

ul.errorlist {
    background-color: #fedae0;
    color: #a3181c;
    margin: 5px 10px;
}

ul.errorlist li {
    font-size: 0.85em;
    padding: 2px 4px !important;
    font-weight: bold;
}

legend {
    width: 482px;
    padding: 5px 12px 6px;
    font-size: 1.3em;
    color: #ab292a;
    font-weight: bold;
    border-bottom: 1px solid #f1edeb;
}

fieldset {
    margin: 0;
}

#forgot-password{
    padding: 18px 0;
}

#checkout-form ul {
    margin-top: 40px;
}

#checkout-form li {
    line-height: none;
    padding: 4px;
}

